# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/React/contacts/node_modules
/React/Contacts-server/node_modules

# testing
/React/contact/coverage

# production

# misc
/React/contacts/.DS_Store
/React/contacts/.env
/React/contacts/npm-debug.log*
/React/contacts/yarn-debug.log*
/React/contacts/yarn-error.log*
/React/contacts/.idea
.idea