# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/contacts/node_modules

# testing
/contact/coverage

# production
/contacts/build

# misc
/contacts/.DS_Store
/contacts/.env
/contacts/npm-debug.log*
/contacts/yarn-debug.log*
/contacts/yarn-error.log*
/contacts/.idea
.idea

